/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/*
Font details

body font-weight: 400;
body font-size: 16px;
body line-height: 1.6;

h1 font-weight: 700;
h1 font-size: 32px;

h2 font-weight: 700;
h2 font-size: 24px;
*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

li {
  list-style-type: none;
}

h1, h2 {
  font-weight: 700;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

a {
  color: #357b70;
}

a:visited {
  color: #05676e;
}

a:hover, a:focus {
  text-decoration: none;
}

a:active {
  color: #489c79;
}

button {
  border: none;
  font-family: inherit;
  background-color: #357b70;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.button {
  border: none;
  font-family: inherit;
  background-color: #357b70;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

input[type="submit"] {
  border: none;
  font-family: inherit;
  background-color: #357b70;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

button:hover,
button:focus,
.button:hover,
.button:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  cursor: pointer;
}

.button__secondary {
  background-color: #b9314f;
}

/* Navigation */
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 20px;
  -webkit-box-shadow: 0 -5px 15px lightgray;
          box-shadow: 0 -5px 15px lightgray;
}

.page-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
}

.page-header__item:first-child {
  height: 100px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.page-header .small-logo {
  display: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item {
  text-decoration: none;
  padding: 5px;
  position: relative;
}

.navigation-list__item:before {
  position: absolute;
  opacity: 0;
  content: "";
  background: #489c79;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.navigation-list__item:after {
  position: absolute;
  opacity: 0;
  content: "";
  background: #489c79;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.navigation-list__item:before {
  width: 0%;
  height: 2px;
  right: 0%;
  top: 0%;
}

.navigation-list__item:after {
  width: 2px;
  height: 0;
  right: 0%;
  top: 0%;
}

.navigation-list__item:hover:before,
.navigation-list__item:hover:after {
  opacity: 1;
}

.navigation-list__item:hover:before {
  width: 50%;
}

.navigation-list__item:hover:after {
  height: 50%;
}

.navigation-list__item--active:before {
  width: 100%;
}
.navigation-list__item--active:after {
  height: 100%;
}

.navigation-list__item--active:before,
.navigation-list__item--active:after {
  opacity: 1;
}

/* index, about me, contact pages */
.profile {
  max-width: 700px;
  margin: 0 auto;
}

/* index page */
.profile__portrait {
  width: 250px;
  height: auto;
  float: left;
  margin-right: 40px;
  border-radius: 50%;
}

/* about me page */
.profile-about, .profile-about div, .profile-about div ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-about div ul {
  padding: 0;
}

.profile-about div ul a {
  text-decoration: none;
  position: relative;
}

.profile-about div ul a::before {
  position: absolute;
  content: '';
  background-color: #edc655;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  -webkit-transition: width .3s;
  -o-transition: width .3s;
  transition: width .3s;
}

.profile-about div ul a:hover:before {
  width: 100%;
}

.sun {
  -webkit-animation: 4s color-change infinite alternate linear;
          animation: 4s color-change infinite alternate linear;
}

.cloud-front {
  -webkit-animation: 30s cloud-move infinite alternate linear;
          animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
          animation: 34s cloud-move-reverse infinite alternate linear;
}

@-webkit-keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

@-webkit-keyframes cloud-move {
  0% {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  100% {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  0% {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  100% {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

@-webkit-keyframes cloud-move-reverse {
  0% {
    -webkit-transform: translate(446px, 40px);
            transform: translate(446px, 40px);
  }
  100% {
    -webkit-transform: translate(100px, 40px);
            transform: translate(100px, 40px);
  }
}

@keyframes cloud-move-reverse {
  0% {
    -webkit-transform: translate(446px, 40px);
            transform: translate(446px, 40px);
  }
  100% {
    -webkit-transform: translate(100px, 40px);
            transform: translate(100px, 40px);
  }
}

.profile-about table {
  margin: 20px 0 40px;
}

.profile-about table thead {
  background-color: #edc655;
}

.profile-about table td, .profile-about table th {
  padding: 0 15px;
}

.skill-years {
  text-align: center;
}

/* work page */

section h1 {
  text-align: center;
}

/* start grid fallback */
.grid__item {
  display: inline-block;
  width: 33%;
}
/* end grid fallback */
@supports (display: grid) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 10px 4rem 0;
  }
  
  .grid__item {
    background-color: lightgray;
    padding: 15px;
    width: auto;
    min-height: auto;
  }
}

/* contact page */
.profile-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-contact div,
.profile-contact button,
.profile-contact form {
  margin: 10px;
}

.profile-contact div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.profile-contact a {
  padding-bottom: 5px;
}

#contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 15px #357b7080;
          box-shadow: 0 0 15px #357b7080;
  padding: 20px;
  border-radius: 5px;
  margin-top: 30px;
}

#contact-form #contact-email {
  width: 700px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border-color: #357b7080;
  border-top: 3px solid #357b7080;
  border-right: 3px solid #357b7080;
}

#contact-form #contact-telephone {
  width: 700px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border-color: #357b7080;
  border-top: 3px solid #357b7080;
  border-right: 3px solid #357b7080;
}

#contact-form #contact-message {
  width: 700px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border-color: #357b7080;
  border-top: 3px solid #357b7080;
  border-right: 3px solid #357b7080;
}

#contact-form .mandatory {
  color: #b9314f;
  font-size: 18px;
  padding-right: .5rem;
}

#contact-form input[type="submit"] {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

/* footer */
.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 30px 0;
}

/* media queries */
@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 501px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 515px) {
  .page-header .logo {
    display: none;
  }

  .page-header .small-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .page-header .small-logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100px;
            flex: 0 1 100px;
    height: 50px;
  }
}

@media all and (max-width: 565px) {
  .page-header__item:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 150px;
            flex: 0 1 150px;
    height: 75px;
  }

  #contact-form {
    padding: 20px 8px;
  }
}

@media all and (max-width: 660px) {
  .profile__portrait {
    float: none;
    margin: 20px 0 0 0;
  }

  .profile-index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media all and (max-width: 750px) {
  .profile {
    padding: 0 2rem;
  }

  .main-navigation .navigation-list {
    padding: 0;
  }

  .grid {
    gap: 10px;
    padding: 5px 2rem 0;
  }

  h1 {
    font-size: 22px;
    text-align: center;
  }

  #contact-form #contact-email,
  #contact-form #contact-telephone,
  #contact-form #contact-message {
  width: 450px;
  }
}