/*
Font details

body font-weight: 400;
body font-size: 16px;
body line-height: 1.6;

h1 font-weight: 700;
h1 font-size: 32px;

h2 font-weight: 700;
h2 font-size: 24px;
*/

:root {
  --primary-color: #357b70;
  --primary-color-dark: #05676e;
  --primary-color-light: #489c79;
  --primary-color-opacity-half: #357b7080;
  --secondary-color: #b9314f;
  --dark-grey: #2b2b2b;
  --white: #fff;
  --lightgray: lightgray;
  --button-border: rgb(0 0 0 / 30%);
  --sun-yellow: #edc655;
  --sun-light-yellow: #fcffad;
  --sun-orange: #f76414;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Barlow, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

li {
  list-style-type: none;
}

h1,
h2 {
  font-weight: 700;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

a {
  color: var(--primary-color);
}

a:visited {
  color: var(--primary-color-dark);
}

a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  color: var(--primary-color-light);
}

button,
.button,
input[type="submit"] {
  border: none;
  font-family: inherit;
  background-color: var(--primary-color);
  color: var(--white);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid var(--button-border);
  transition: opacity 0.2s;
}

button:hover,
button:focus,
.button:hover,
.button:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  cursor: pointer;
}

.button__secondary {
  background-color: var(--secondary-color);
}

/* Navigation */
.page-header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  box-shadow: 0 -5px 15px var(--lightgray);
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:first-child {
  height: 100px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.page-header .small-logo {
  display: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item {
  text-decoration: none;
  padding: 5px;
  position: relative;
}

.navigation-list__item::before,
.navigation-list__item::after {
  position: absolute;
  opacity: 0;
  content: "";
  background: var(--primary-color-light);
  transition: 0.5s;
}

.navigation-list__item::before {
  width: 0%;
  height: 2px;
  right: 0%;
  top: 0%;
}

.navigation-list__item::after {
  width: 2px;
  height: 0;
  right: 0%;
  top: 0%;
}

.navigation-list__item:hover::before,
.navigation-list__item:hover::after {
  opacity: 1;
}

.navigation-list__item:hover::before {
  width: 50%;
}

.navigation-list__item:hover::after {
  height: 50%;
}

.navigation-list__item--active::before {
  width: 100%;
}

.navigation-list__item--active::after {
  height: 100%;
}

.navigation-list__item--active::before,
.navigation-list__item--active::after {
  opacity: 1;
}

/* index, about me, contact pages */
.profile {
  max-width: 700px;
  margin: 0 auto;
}

/* index page */
.profile__portrait {
  width: 250px;
  height: auto;
  float: left;
  margin-right: 40px;
  border-radius: 50%;
}

/* about me page */
.profile-about,
.profile-about div,
.profile-about div ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-about div ul {
  padding: 0;
}

.profile-about div ul a {
  text-decoration: none;
  position: relative;
}

.profile-about div ul a::before {
  position: absolute;
  content: "";
  background-color: var(--sun-yellow);
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  transition: width 0.3s;
}

.profile-about div ul a:hover::before {
  width: 100%;
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

@keyframes color-change {
  0% {
    fill: var(--sun-yellow);
  }

  50% {
    fill: var(--sun-light-yellow);
  }

  100% {
    fill: var(--sun-orange);
  }
}

@keyframes cloud-move {
  0% {
    transform: translate(0, 50px);
  }

  100% {
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move-reverse {
  0% {
    transform: translate(446px, 40px);
  }

  100% {
    transform: translate(100px, 40px);
  }
}

.profile-about table {
  margin: 20px 0 40px;
}

.profile-about table thead {
  background-color: var(--sun-yellow);
}

.profile-about table td,
.profile-about table th {
  padding: 0 15px;
}

.skill-years {
  text-align: center;
}

/* work page */

section h1 {
  text-align: center;
}

/* start grid fallback */
.grid__item {
  display: inline-block;
  width: 33%;
}

/* end grid fallback */

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 10px 4rem 0;
  }

  .grid__item {
    background-color: var(--lightgray);
    padding: 15px;
    width: auto;
    min-height: auto;
  }
}

/* contact page */
.profile-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-contact div,
.profile-contact button,
.profile-contact form {
  margin: 10px;
}

.profile-contact div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile-contact a {
  padding-bottom: 5px;
}

#contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 15px var(--primary-color-opacity-half);
  padding: 20px;
  border-radius: 5px;
  margin-top: 30px;
}

#contact-form #contact-email,
#contact-form #contact-telephone,
#contact-form #contact-message {
  width: 700px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border-color: var(--primary-color-opacity-half);
  border-top: 3px solid var(--primary-color-opacity-half);
  border-right: 3px solid var(--primary-color-opacity-half);
}

#contact-form .mandatory {
  color: var(--secondary-color);
  font-size: 18px;
  padding-right: 0.5rem;
}

#contact-form input[type="submit"] {
  width: fit-content;
}

/* footer */
.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px 0;
}

/* media queries */
@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 501px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 515px) {
  .page-header .logo {
    display: none;
  }

  .page-header .small-logo {
    display: flex;
    flex: 0 1 100px;
    height: 50px;
  }
}

@media all and (max-width: 565px) {
  .page-header__item:first-child {
    flex: 0 1 150px;
    height: 75px;
  }

  #contact-form {
    padding: 20px 8px;
  }
}

@media all and (max-width: 660px) {
  .profile__portrait {
    float: none;
    margin: 20px 0 0;
  }

  .profile-index {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media all and (max-width: 750px) {
  .profile {
    padding: 0 2rem;
  }

  .main-navigation .navigation-list {
    padding: 0;
  }

  .grid {
    gap: 10px;
    padding: 5px 2rem 0;
  }

  h1 {
    font-size: 22px;
    text-align: center;
  }

  #contact-form #contact-email,
  #contact-form #contact-telephone,
  #contact-form #contact-message {
    width: 450px;
  }
}
